<div class="p-1">
    <div>
        <div class="breadcrumbme-menu">
            <nav class="breadcrumb has-arrow-separator has-text-weight-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a routerLink="/"> Dashboard</a></li>
                    <li class="is-active"><a href="#" aria-current="page">User</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="page-body">
        <article class="panel is-primary" style="border-radius: 0px;padding: 1em;">
          <p class="panel-heading" style="border-radius: 0px;font-weight: 1;">
            List of Users
          </p>
          <nav class="level bd-structure-item bd-is-structure-container" title="level" style="margin-top: 1em;margin-bottom: .25em;">
            <div class="level-left bd-structure-item" title="level-left">
              <div class="level-item">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select name="orderBy" [(ngModel)]="orderBy" (change)="submitSearch()">
                        <option value="0">Choose
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </option>
                        <option value="1">ID</option>
                        <option value="2">Name</option>
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-primary">Order By
                      <span style="visibility: hidden;">es</span></button>
                  </div>
                </div>
              </div>
              <div class="level-item">
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <div class="select is-fullwidth">
                      <select name="orderType" [(ngModel)]="orderType" (change)="submitSearch()">
                        <option value="0">Choose
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                        </option>
                        <option value="2">Ascending</option>
                        <option value="1">Descending</option>
                      </select>
                    </div>
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-primary">Order Type</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="level-right bd-structure-item" title="level-right">
              <div class="level-item">
                <div class="field has-addons">
                  <div class="control">
                    <input class="input" (keyup)="submitSearch()" type="text" placeholder="Search any user" [(ngModel)]="keyword">
                  </div>
                  <div class="control">
                    <a class="button is-primary"><span style="visibility: hidden;">e</span>
                      Search<span style="visibility: hidden;">ese</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
         
          <nav class="level bd-structure-item bd-is-structure-container" title="level" style="margin-top: 1em;margin-bottom: .25em;">
            <div class="level-left bd-structure-item" title="level-left">
              <div class="level-item">
                <p class="control has-icons-left is-expanded">
                  <button class="button is-info is-fullwidth" routerLink="new">Add New User</button>
                </p>
              </div>
            </div>
            <div class="level-right bd-structure-item" title="level-right">
              <app-pagination *ngIf="totalPageList > 0" [paginationTotal]="totalPageList"></app-pagination>
            </div>
          </nav>
        </article>
    </div>
    <br />
    <div class="columns is-multiline is-variable is-desktop" >
        <div class="column is-one-quarter" *ngFor="let user of userList; index as i">
            <div class="box" style="border-radius: 0px;padding: 1em;">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="assets/image/images.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{user.fullName}}</strong> 
                                <br /><small>@{{user.userName}}</small>
                                <br /><small>{{user.dateCreated}} </small>
                                         
                            </p>
                        </div>
                        <nav class="level is-mobile">
                          <div class="level-left">
                            <a class="level-item" aria-label="reply">
                              <span class="icon is-small">
                                <i class="fas fa-address-book" routerLink="{{user.id}}" aria-hidden="true"></i>
                              </span>
                            </a>
                            <a class="level-item" aria-label="retweet">
                              <span class="icon is-small">
                                <i class="fas fa-trash-alt" aria-hidden="true" (click)="submitDeleteRecord(user.id)"></i>
                              </span>
                            </a>
                          </div>
                        </nav>
                    </div>
                </article>
            </div>
        </div>        
    </div>
</div>