<div class="p-1">
    <div>
        <div class="breadcrumbme-menu">
            <nav class="breadcrumb has-arrow-separator has-text-weight-medium" aria-label="breadcrumbs">
                <ul>
                    <li><a routerLink="/"> Dashboard</a></li>
                    <li class="is-active"><a href="#" aria-current="page">User</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="columns  is-variable is-desktop">
         <div class="columns is-variable">
            <div class="column is-3-desktop is-6-tablet">
                <div class="box" style="border-radius: 0px;">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="assets/image/images.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
                                    <br>
                                     April 01, 2020           
                                </p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                  <span>
                                    <a href="https://twitter.com/codinghorror/status/506010907021828096"> View Detail</a>
                                  </span>
                                </p>
                              </footer>
                        </div>
                    </article>
                </div>
            </div>
          
          </div>
    </div>
</div>