<div>
    <div class="menu-container px-1 has-background-white">
      <div class="menu-wrapper py-1">
        <aside class="menu">
          <p class="menu-label has-text-lighter">
            General Menu
          </p>
          <ul class="menu-list">
            <li>
              <a class="is-active has-background-primary" routerLink="/">
                <i class="fas fa-tachometer-alt"></i>
                Dashboard</a
              >
            </li>
            <li>
              <a  class="has-text-black" routerLink="/asset">
                <i class="fas fa-laptop-medical"></i>
                Asset</a
              >
            </li>
            <li>
              <a class="has-text-black">
                <i class="fas fa-comments icon"></i>
                Maintenance</a
              >
              <ul>
                <li>
                  <a routerLink="/category" class="has-text-black">
                    <i class="fas fa-folder-open"></i>
                    Category</a
                  >
                </li>
                <li>
                  <a routerLink="/manufacturer" class="has-text-black">
                    <i class="fas fa-industry"></i>
                    Manufacturer</a
                  >
                </li>
                <li>
                    <a routerLink="/supplier" class="has-text-black">
                      <i class="fas fa-hotel"></i> 
                    Supplier</a
                    >
                  </li>
                  <li>
                    <a routerLink="/model" class="has-text-black">
                      <i class="fab fa-modx"></i>
                    Model</a
                    >
                  </li>
                  <li>
                    <a routerLink="/processor" class="has-text-black">
                      <i class="fas fa-microchip"></i>
                    Processor</a
                    >
                  </li>
                  <li>
                    <a routerLink="/harddisk" class="has-text-black">
                      <i class="fas fa-hdd"></i>
                    Hard Disk</a
                    >
                  </li>
                  <li>
                    <a routerLink="/memory" class="has-text-black">
                      <i class="fas fa-sd-card"></i>
                    Memory</a
                    >
                  </li>
                  <li>
                    <a routerLink="/videocard" class="has-text-black">
                      <i class="fas fa-memory"></i>
                    Video Card</a
                    >
                  </li>
              </ul>
            </li>
            <li>
              <a routerLink="/user" class="has-text-black">
                <i class="fas fa-user-plus icon"></i>
                User</a
              >
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>